<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Azion-header" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTP_azion-header}" pattern="baea65dc-2d55-4dbf-8a67-1ba19b1b15bd" negate="true" />
                        <add input="{HTTP_HOST}" pattern="^localhost.*$" negate="true" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="Using this site is not supported." />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
